div
  div(class="chatter-list") 
    div(class="chatter") 
      div 123456789012
      div(class="chatter-close") X
      div(class="chatter-waiting") 〈
    div(class="chatter") 
    div(class="chatter") 
      div 123456789012
      div(class="chatter-close") X
      div(class="chatter-waiting") 〈
    div(class="chatter") 
    div(class="chatter") 

  div(class="chat") 
    div(class="user-textbox") uuuuuuuuuuuu
    div(class="chatter-textbox") ccccccccccc
    div(class="user-textbox") uu
    div(class="chatter-textbox") cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc ccccc ccccccccccccccccccccccccccccccccc
    div(class="user-textbox") 11111111
    div(class="user-textbox") uuuuuuuuuuuu
    div(class="chatter-textbox") ccccccccccc
    div(class="user-textbox") uu
    div(class="chatter-textbox") cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc ccccc ccccccccccccccccccccccccccccccccc
    div(class="user-textbox") 11111111
    div(class="user-textbox") uuuuuuuuuuuu
    div(class="chatter-textbox") ccccccccccc
    div(class="user-textbox") uu
    div(class="chatter-textbox") cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc ccccc ccccccccccccccccccccccccccccccccc
    div(class="user-textbox") 11111111
    div(class="user-textbox") uuuuuuuuuuuu
    div(class="chatter-textbox") ccccccccccc
    div(class="user-textbox") uu
    div(class="chatter-textbox") cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc ccccc ccccccccccccccccccccccccccccccccc
    div(class="user-textbox") 11111111
  textarea(class="chat-input" placeholder="..." maxlength="150" autofocus)
  
  div(class="search") 
    input(type="text" class="search-field" placeholder="Search Username" maxlength="12" ng-model="searchField" ng-change="searchNames()")
    div(ng-repeat="names in searchedNameList" ) {{ names }}
  