div
  div(class="chatter-list") 
    div(ng-repeat="(username,chat) in chats" ng-class="username == currentChatId ? 'chatter-current' : 'chatter'" ng-click="switchChat(username)") 
      div {{  username  }}
      div(class="chatter-close" ng-click="closeChat(username)")
      div(ng-show="chat.messageWaiting" class="chatter-waiting") 〈

  div(class="chat")
    div(class="load-earlier-button" ng-click="loadPrevious()") Load Earlier Messages
    div(ng-repeat="message in chats[currentChatId].messages" ng-class="message.sentByUser ? 'user-textbox' : 'chatter-textbox'") {{ message.messageText }}
       div(class="textbox-timebox") {{ message.sentAt.localTimeStamp }}
       div(id="chat-bottom")
  form
    input(type="submit" style="display: none")
    textarea(class="chat-input" placeholder="..." maxlength="200" autofocus ng-model="inputMessage" ng-keyup="$event.keyCode == 13 ? sendMessage() : null")

  div(class="search") 
    input(type="text" class="search-field" placeholder="Search Username" maxlength="12" ng-model="search.field" ng-change="search.searchNames()")
    div(ng-repeat="name in search.nameList" ng-click="newChat(name.username)" class="chatter search-name") {{ name.username }}