a {
  color: #00B7FF;
}

body{
	background-image: url("../images/blahbackground.png");
	background-size: 12%;
}

.heading{
	position: relative;
	top: 1%;
	left: 4%;
	width: 16%;
	border-radius: 0.3em;
	font-size: 5em;
	color: #000;
	padding: 0.1em;
	text-shadow: 0 0 0.2em #000;
	background-color: #eef;
	box-shadow: 0 0 9em #114, inset 0 0 0.2em #559;
	text-align: center;
	margin: 0 auto;
}

.login,.register{
	position: absolute;
	top: 25%;
	width: 20%;
	padding: 2.5em 0em 2em 0em;
	border-style: solid;
	border-radius: 1em;
	border-color: #88e;
	border-width: 1px;
	box-shadow: 0 0 1em #666, inset 0 0 1em #444;
	background: rgba(255, 255, 255, 0.4);
}
.login{
	left: 25%;
}
.register{
	right: 25%;
}

.input-field{
	margin: 0% 5% 5% 10%;
	font-size: 1.0em;
	width: 75%;
	padding: 0.5em 0.2em;
}

.error-field{
	color: #d33;
	text-align: center;
	width: 100%;
}

button{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #66b;
	border: none;
	font-size: 1.5em;
	padding: 0.5em;
	margin: 5% 0 0 0;
	cursor: pointer;
}

.chatter-list{
	position: absolute;
	top: 17%;
	left: 10%;
	height: 80%;
	width: 19.5%;
	background-color: #888;
	padding-top: 2px;
	overflow-x: hidden;
	overflow-y: auto;
}
.chatter,.chatter-current{
	position: relative;
	height: 8%;
	padding-top: 10%;
	padding-left: 15%;
	background-color: #aaa;
	margin: 2% 2%;
	user-select: none;
	cursor: pointer;
}

.chatter-current{
	background-color: #ea0;
}

.chatter-waiting{
	position: absolute;
	top: 50%;
	right: 10%;
	font-size: 2em;
	transform: translateY(-50%);
}
.chatter-close{
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translateY(-50%);	
	border-radius: 50%;
	height: 15px;
	width: 13px;
	font-size: 15px;
	padding-left: 2px;
	overflow: hidden;
	background-image: url("../images/closeConv.jpg");
	background-size: 100% 100%;
}

.chat{
	position: absolute;
	top: 17%;
	left: 30%;
	height: 65%;
	width: 40%;
	background-color: #888;
	padding-top: 2px;
	overflow-y: scroll;
}
.chat-input{
	position: absolute;
	bottom: 3%;
	left: 30%;
	height: 10%;
	width: 38%;
	background-color: #ccc;
	padding: 1em;
	overflow-y: auto;
	resize: none;
}

.search{
	position: absolute;
	top: 17%;
	left: 75%;
	height:60%;
	width: 17%;
	background-color: #888;
	overflow: hidden;
}

.search-field{
	font-size: 1.0em;
	width: 84.5%;
	padding: 5% 5%;
	border-width: 4px;
}

.search-name{
	padding: 3% 3% 3% 10%;
	background-color: #aaa;
	margin: 3% 3%;
}

.user-textbox,.chatter-textbox{
	position: relative;
	width: 65%;
	padding: 2%;
	margin: 2%;
	background-color: #123;
	overflow: hidden;
	border-radius: 10px;
}
.user-textbox{
	left: 27%;
	text-align: right;
}
.textbox-timebox{
	font-size: 0.6em;
}

.load-earlier-button{
	width: 100%;
	font-size: 1em;
	text-align: center;
	border-radius: 1em;
	background-color: #333;
	cursor: pointer;
}